@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --VdarkGrayishBlue: hsl(217, 19%, 35%);
    --DdarkBlue:  hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LGrayishBlue: hsl(210, 46%, 95%);
    --ff-manrope: 'Manrope', sans-serif;
    --fs: 0.9375rem;
}
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--ff-manrope);
    background-color: var(--LGrayishBlue);
    color: var(--DdarkBlue);
    font-size: 0.825rem;
}
.container {
    width: 88%;
    min-width: 290px;
    max-width: 370px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
.header-img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
}
.content {
    padding: 1.5em 2.1em;
}
.heading {
    font-size: 1.04rem;
    color: var(--VdarkGrayishBlue);
    margin-bottom: 0.7em;
    line-height: 24px;
}
.text {
    line-height: 20px;
}
/* ******footer******* */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.2em 2.1em;
}
strong {
    color: var(--VdarkGrayishBlue);
}
.item1 {
    display: flex;
}
.footer-text {
    margin-left: 1.2em;
    line-height: 20px;
    color: var(--DdarkBlue);
}
.share {
    background-color: var(--LGrayishBlue);
    padding: 0.6em 0.7em;
    border-radius: 50%;
    margin-right: 0.7em;
}
.avatar-img {
    width: 40px;
    min-width: 40px;
    border-radius: 50%;
}
.footers {
    position: relative;
}
.f2 {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.f1 {
    z-index: 0;
}
.footer2 {
    padding: 1.5em 2.1em;
    display: flex;
    background-color: var(--VdarkGrayishBlue);
    
}
.footer2-text {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--GrayishBlue);
    margin-right: 1.5em;
}
.item3 {
    display: flex;
    width: 30%;
    min-width: 82px;
    justify-content: space-between;
    align-items: center;
}
.item4 {
    margin-left: auto;
}
#toggle-btn1:hover {
    outline: 1px solid var(--VdarkGrayishBlue);
}
#toggle-btn2:hover {
    background-color: white;
}
@media (min-width: 400px) {
    html {
        font-size: 1.1rem;
    }
}
@media (min-width: 645px) {
    html {
        font-size: 1.05rem;
    }
    .container {
        max-width: none;
        justify-content: space-between;
    }
    .content {
        padding: 1.8em;
    }
    .header-img {
        object-fit: cover;
        height: 100%;
    }
    .heading {
        line-height: 25px;
    }
    .text {
        line-height: 21px;
    }
    .container {
        display: flex;
    }
    .header {
        width: 40%;
    }
    .body2 {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .content {
        padding-bottom: 0.8em;
    }
    .share {
        padding: 0.6em 0.8em;
    }
    .f2 {
        bottom: 100%;
        right: 0;
    }
    .f2 {
        width: 220px;
        border-radius: 20px;
        overflow: hidden;
    }
    .footer2 {
        justify-content: space-between;
        padding: 1.4em;
        align-items: center;
    }
    .item4 {
        margin-left: 0;
    }
    #toggle-btn2 {
        display: none;
    }
    .footer2-text {
        font-size: 0.7rem;
    }
}
@media (min-width: 847px) {
    .container {
        max-width: 800px;
    }
    html {
        font-size: 1.2rem;
    }
    .heading {
        line-height: 28px;
        margin-bottom: 1em;
    }
    .text {
        line-height: 25px;
        font-size: 0.8rem;
        width: 96%;
    }
    .footer-text {
        font-size: 0.75rem;
    }
    .content {
        padding: 2em 1.6em;
    }

}
@media (min-width:950px) {
    html {
        font-size: 1.25rem;
    }
    .heading {
        margin-bottom: 1em;
    }

 
}
